<div class="row">
    <div class="col-6">
    <h1> Détail du "PC" d'Id:2</h1>
        <div *ngFor="let t of materiel" >
            <ul class="list-group">
                <li class="list-group-item"><img style="width:150px;height:120px;" src="{{t.photo}}" ></li>
                <li class="list-group-item"> Marque {{t.marque}} </li>
                <li class="list-group-item"> Prix {{t.prix}}</li>
                <li class="list-group-item"> Description {{t.description}} </li>
                <li class="list-group-item"> Quantité {{t.quantite}} </li>
                <li class="list-group-item"><input type="checkbox" checked="{{t.hautGamme}}" >Haut de Gamme </li>
                <li class="list-group-item"><button  class="btn btn-primary" (click)="onAffiche()">Afficher les commentaires</button></li>
            </ul>
        </div>
    </div>
    <div *ngIf="!affiche">
   
        <div *ngFor="let t of materiel" >
        <h2> liste des commentaires </h2>
            
                <div *ngFor="let com of t.commentaires ;index as i" >
                    <div > commentaire n° {{i+1}}:{{com.contenu}} </div>
                <fed-comment [c]="com" ></fed-comment>
                    </div>
              
        </div>

</div>
</div>
        
    



