<div class="row">
    <div class="col-6">
    <h1> Détail du "PC" d'Id:2</h1>
        <div *ngFor="let t of materiel" >
            <ul class="list-group">
                <li class="list-group-item"><img style="width:150px;height:120px;" src="{{t.photo}}" ></li>
                <li class="list-group-item"> Marque {{t.marque}} </li>
                <li class="list-group-item"> Prix {{t.prix}}</li>
                <li class="list-group-item"> Description {{t.description}} </li>
                <li class="list-group-item"> Quantité {{t.quantite}} </li>
                <li class="list-group-item"><input type="checkbox" checked="{{t.hautGamme}}" >Haut de Gamme </li>
                <li class="list-group-item"><button type="button" class="btn btn-primary">Afficher les commentaires</button></li>
            </ul>
        </div>
    </div>

    <div class="col-6">
        <h2> liste des commentaires </h2>
            
                <div *ngFor="let COM of Commentaire; let i = index" >
                <fed-comment [C]="COM"></fed-comment>
                    </div>
              
        </div>

</div>
        
    



